@charset "UTF-8";

#lyrics{
 border:1px solid #333;
 border-radius:5px;
 box-shadow:0 0 8px #333;
 display:none;
 font-size:xx-small;
 height:300px;
 line-height:16px;
 margin: 10px auto;
 overflow-y:scroll;
 padding:5px;
 text-align:center;
 width: 90%;
}

#lyrics span{display:block;height:20px;line-height:20px;overflow:hidden;}

#lyrics span.current{ height:48px;line-height:48px;font-size:x-large;color:#090;font-weight:bold;padding-left:20px;}
#lyrics span.next{    height:36px;line-height:36px;font-size:medium;}
#lyrics span.prev{    height:36px;line-height:36px;font-size:medium;}
#lyrics span.far-next{height:24px;line-height:24px;font-size:x-small;}
#lyrics span.far-prev{height:24px;line-height:24px;font-size:x-small;}

/* #lyrics span.current:before {content:'> ';font-size:x-small;} */

.blank-row {display:none!important;}
hr.clearing {clear:both;}
